@page "/counter"
@using RadzenControlTest.ViewModels

@inject CounterViewModel viewmodel

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @viewmodel.Count</p>

<button class="btn btn-primary" @onclick="viewmodel.IncrementCount">Click me</button>

@code {

}
