@page "/"
@using System.Text.RegularExpressions

@inject NotificationService notificationService

<PageTitle>Home</PageTitle>

<RadzenButton Text="test" Click="@TestClick"/>
<br />
<br />
<select @onchange="OnEnumSelected" style="height:30px">
    @foreach (var value in Enum.GetValues(typeof(MyEnum)))
    {
        <option value="@value">@value</option>
    }
</select>



<RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="Primary" />
<RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text="Secondary" />
<RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Light" />
<RadzenBadge BadgeStyle="BadgeStyle.Success" Text="Success" />
<RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Danger" />
<RadzenBadge BadgeStyle="BadgeStyle.Warning" Text="Warning" />
<RadzenBadge BadgeStyle="BadgeStyle.Info" Text="Info" />

<RadzenBadge BadgeStyle="BadgeStyle.Primary" IsPill="true" Text="Primary" />
<RadzenBadge BadgeStyle="BadgeStyle.Secondary" IsPill="true" Text="Secondary" />
<RadzenBadge BadgeStyle="BadgeStyle.Light" IsPill="true" Text="Light" />
<RadzenBadge BadgeStyle="BadgeStyle.Success" IsPill="true" Text="Success" />
<RadzenBadge BadgeStyle="BadgeStyle.Danger" IsPill="true" Text="Danger" />
<RadzenBadge BadgeStyle="BadgeStyle.Warning" IsPill="true" Text="Warning" />
<RadzenBadge BadgeStyle="BadgeStyle.Info" IsPill="true" Text="Info" />

<RadzenButton ButtonStyle="ButtonStyle.Info">
    Button
    <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="15" />
</RadzenButton>

<RadzenButton ButtonStyle="ButtonStyle.Light">
    Button
    <RadzenBadge BadgeStyle="BadgeStyle.Primary" IsPill="@true" Text="15" />
</RadzenButton>
<bt/>
<RadzenSplitButton Disabled="false" Text="SplitButton" AlwaysOpenPopup=true>
    <ChildContent>
        <RadzenSplitButtonItem Text="Item1" Value="1" />
        <RadzenSplitButtonItem Text="Item2" Value="2" />
    </ChildContent>
</RadzenSplitButton>

@code{

    [Inject]
    private IEventAggregator? ea { get; set; }

    private MyEnum selectedEnumValue;

    private void OnEnumSelected(ChangeEventArgs e)
    {
        if (Enum.TryParse<MyEnum>(e.Value?.ToString(), out var result))
        {
            selectedEnumValue = result;
        }
    }


    private void TestClick()
    {
        ea?.GetEvent<TestEvent>().Publish("test publish");
    }

    public enum MyEnum
    {
        Option1,
        Option2,
        Option3
    }
}

